
.caixa {
  width: 500px;
  background: #ecfee8;
  border-top-style: solid;
  border-width: 15px;
  border-right-style: solid;
  border-right-width: 3px;
  border-left-style: solid;
  border-left-width: 3px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #f15025;
  text-align: center;
}

.formulario{
  text-align: left;
  margin-left: 35px;
}

img[name="img-topo"]{
  width: 14px;
  float: none;
  margin-left: 3px;
  margin-right: 3px;
}

img[name="img-padrao"]{
  float: right;
  width: 10px;
  margin-top: 10px;
  margin-right: 25px;
}

img[name="img-data"]{
  float: right;
  width: 10px;
  margin-top: 10px;
  margin-right: 170px;
}

img[name="img-sexo"]{
  float: right;
  width: 10px;
  margin-top: 10px;
  margin-right: 208px;
}

body {
  width: 100vw;
  height: 100vh;
  background: #4da1a9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input[name="nome"]{
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 116px;
}

input[name="usuario"]{
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 104px;
}

input[type="email"]{
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 117px;
}

input[name="senha"]{
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 116px;
}

input[name="confirmasenha"]{
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 48px;
}

input[type="date"]{
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 30px;
}

select[name="sexo"]{
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 123px;
}

input[name="city"]{
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 110px;
}

input[name="site"]{
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 129px;
}

input[type="submit"]{
  background-color: #f15025;
  border: none;
  color: white;
  width: 200px;
  height: 40px;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
}

input[type="submit"]:hover{
  background-color: #E16036;
}
